.Header
  .Header__letter
  = link_to '#', class:"letter-home" do
    %span.home Home
  = link_to '#', class:"letter-home" do
    %span.home About
  = link_to '#', class:"letter-home", id:'dtn' do
    %span.home Skil
  = link_to '#', class:"letter-home" do
    %span.home Work
  = link_to '#', class:"letter-home" do
    %span.home Contact
 

