.Header
  .Header__letter
  = link_to '#home', class:"letter-home" do
    %span.home Home
  = link_to '#about', class:"letter-home" do
    %span.home About
  = link_to '#skil', class:"letter-home", id:'dtn' do
    %span.home Skil
  = link_to '#work', class:"letter-home" do
    %span.home Work
  = link_to '#contact', class:"letter-home" do
    %span.home Contact
 

