= render "header"
#home
.Home
  .Home__letter
    %p MIYAMOTO's portforio
.About
  #about
  .About__title
    %span.about About
  .About__content
    .About__content__image
      .image
    .About__content__text
      .white
        .white__sentence
          %p 初めまして、宮本聖也と申します。
          %p 平成9年生まれの23歳です。現在はプログラミングを勉強中の人間です。出身は神戸です。
          %p 私は、平成27年に高校を卒業し、地元企業に就職しました。そこでは、排水管の掃除をする仕事をしてました。そこで約2年間働きました。
          %p そこを退職した後、公務員を目指そうと思い、約1年間勉強に費やし、平成30年に太地町役場（和歌山県南端に位置します）に入職しました。
          %p そこでは、防災・消防・区長会・救急（他には珍しい非常備消防というもので町に消防署がないので役場職員が救急隊を兼務でやっておりました）etc...をやっておりました。
          %p 役場を2年間で退職し、そこからエンジニアを目指すために勉強を進めております。
          
.Skil
  #skil
  .Skil__title
    %sapan.skil Skil
  .Skil__content
    .html ・HTML ・CSS ・JavaScript ・jQuery ・Ruby ・Rails ・Python


.Work
  #work
  .Work__title
    %span.work Work
  .Work__content
    .Work__content__left 
      .image
    .Work__content__right
      .text
        %p.furanku フランクリン手帳
        %p 日記・タスク管理・目標設定を行える機能を持ったサイトです。
        = link_to 'https://franklin-notebook-0314.herokuapp.com' ,class:"daiary" do
          %P Franklin diary
        = link_to 'https://github.com/miyaseinto/franklin_notebook',class:"git" do
          %p Git

.Contact
  #contact
  .Contact__title
    %span.contact Contact
  .Contact__content
    .twitter
      = link_to 'https://mobile.twitter.com/rSFxuyFrfCr880h',class:"twitter" do
        %span Twitter
    .git
      = link_to 'https://qiita.com/miyaseinto',class:"qiita" do
        %span Qiita
